{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static 'myFolio/img/favicon.png' %}" type="image/png">
	<title>Aesthetic Dev</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'myFolio/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'myFolio/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'myFolio/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'myFolio/vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'myFolio/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'myFolio/vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'myFolio/css/style.css' %}">
</head>

<body>

	<!--================ Start Header Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="{% static 'myFolio/img/logo.png' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
							<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
							<li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									<li class="nav-item"><a class="nav-link" href="portfolio-details.html">Portfolio Details</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="">Hi, I am</h3>
							<h1 class="text-uppercase">Aesthetic Dev.</h1>
							<h2 class="text-uppercase">Dielnov Muchati</h2>
							<h5 class="">Desktop, Web And Mobile Application Developer</h5>
							<div class="d-flex align-items-center">
								<a class="primary_btn" href="#"><span>Hire Me</span></a>
								<a class="primary_btn tr-bg" href="#"><span>Get CV</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="{% static 'myFolio/img/banner/home-right.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{% static 'myFolio/img/about-us.png' %}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2 class='container'>About:</h2>
						<p>
							Hello, I am Dielnov Muchati, Level 3 Engineering student at The University Of Zimbabwe. Self-taught and passionate programmer.
						</p>
						<p>
							<h3>My Super Powers Are:</h3>
							<ul>
								<li> <h4>Python</h4> </li>
									<ul>
									  <li>Python Desktop Applications</li>
										<li>Python Django Framework</li>
										<li>Python Kivy</li>
										<li>PyQt5</li>
									</ul>

								<li> <h4>Java</h4> </li>
									<ul>
										<li>Java Desktop Applications</li>
										<li>Java Android Applications</li>
										<li>Java Networking</li>
										<li>Kotlin</li>
									</ul>

								<li> <h4>MySQL, PostgresSQL, SQLite, MongoDB</h4> </li>
								<li> <h4>Bootstrap4, HTML5, CSS3, JavaScript</h4> </li>
								<li> <h4>Cordova Mobile Development</h4> </li>
							</ul>
						</p>
						<a class="primary_btn" href="#"><span>Download CV</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 1.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 2.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 3.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 4.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logoV.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 6.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 7.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 8.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 9.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 10.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 11.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'myFolio/img/brands/logo 12.png' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="offset-lg-2 col-lg-4 col-md-6">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">3++</span>
							<span class="smll jumbotron">Years Working Experience</span>
						</div>
						<div class="call-now d-flex">
							<a href="#">
								<div>
									<p><span class="fa fa-phone"></span> Get In Touch:</p>

								</div>
								<div class="ml-15">

									<h3>(+263)779 898 848</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>My Core Values:</h2>
						<p>
							My objective, from which I derive inspiration is to help you unravel your imagination. <br> From the idea you have to something tangible, be it your startup idea for an app, website , etc. <br> I am here to help you bring that to life through code. <br> By doing this, I am inspired and satisfied, but to be succesful in helping you, <br> I am guided by these values:
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'myFolio/img/services/s1.png' %}" alt="">
						<h4>Effective Communication</h4>
						<p>I value effective and regular communication between myself and clients to ensure that we establish clearly what the client desires.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'myFolio/img/services/s2.png' %}" alt="">
						<h4>Impact</h4>
						<p>Impressions matter!!! <br> I seek to create an impact on my clients that keeps them, and their clients satisfied. It is how we all become bigger and better.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'myFolio/img/services/s3.png' %}" alt="">
						<h4>Meet Deadlines</h4>
						<p>On The Clock! It is on principle that I meet given deadlines, otherwise I am not worth the job. Right? Whatever the job, it will be done before the deadline.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'myFolio/img/services/s4.png' %}" alt="">
						<h4>Client Is King</h4>
						<p>Everything I do, I aim at making my clients happy, for a happy client is a happy life for me. I always strive to make the customer experience worth while.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>Recent Publicly Available Works: </h2>
					</div>
				</div>
			</div>
			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
					<li data-filter=".popular">Desktop</li>
					<li data-filter=".latest"> Mobile</li>
					<li data-filter=".following">Web</li>
					<li data-filter=".upcoming">Upcoming</li>
				</ul>
			</div>

			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
<!--					<div class="col-lg-4 col-md-6 all latest">-->
<!--						<div class="portfolio_box">-->
<!--							<div class="single_portfolio">-->
<!--								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p1.jpg' %}" alt="">-->
<!--								<div class="overlay"></div>-->
<!--								<a href="{% static 'myFolio/img/portfolio/p1.jpg' %}" class="img-gal">-->
<!--									<div class="icon">-->
<!--										<span class="lnr lnr-cross"></span>-->
<!--									</div>-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="short_info">-->
<!--								<h4><a href="portfolio-details.html">minimal design</a></h4>-->
<!--								<p>Animated, portfolio</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p2.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'myFolio/img/portfolio/p2.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">FiShare</a></h4>
								<p>A convenient app to share files with your PCs</p>
							</div>
						</div>
					</div>
<!--					<div class="col-lg-4 col-md-6 all latest">-->
<!--						<div class="portfolio_box">-->
<!--							<div class="single_portfolio">-->
<!--								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p3.jpg' %}" alt="">-->
<!--								<div class="overlay"></div>-->
<!--								<a href="{% static 'myFolio/img/portfolio/p3.jpg' %}" class="img-gal">-->
<!--									<div class="icon">-->
<!--										<span class="lnr lnr-cross"></span>-->
<!--									</div>-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="short_info">-->
<!--								<h4><a href="portfolio-details.html">female light</a></h4>-->
<!--								<p>Animated, portfolio</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-lg-4 col-md-6 all popular">-->
<!--						<div class="portfolio_box">-->
<!--							<div class="single_portfolio">-->
<!--								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p4.jpg' %}" alt="">-->
<!--								<div class="overlay"></div>-->
<!--								<a href="{% static 'myFolio/img/portfolio/p4.jpg' %}" class="img-gal">-->
<!--									<div class="icon">-->
<!--										<span class="lnr lnr-cross"></span>-->
<!--									</div>-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="short_info">-->
<!--								<h4><a href="portfolio-details.html">fourth air</a></h4>-->
<!--								<p>Animated, portfolio</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p6.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'myFolio/img/portfolio/p6.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">KaThat.OnLine</a></h4>
								<p>UZ Campus OnLine Shop</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p5.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'myFolio/img/portfolio/p5.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">FiCatch</a></h4>
								<p>File Download Manager(Video, Audio, Documents,etc)</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p7.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'myFolio/img/portfolio/p7.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">RavenMix</a></h4>
								<p>Retail Shop Website</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p8.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'myFolio/img/portfolio/p8.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4>Aesthetic Devs.</h4>
								<p>Developer Portfolio Website</p>
							</div>
						</div>
					</div>
<!--					<div class="col-lg-4 col-md-6 all upcoming">-->
<!--						<div class="portfolio_box">-->
<!--							<div class="single_portfolio">-->
<!--								<img class="img-fluid w-100" src="{% static 'myFolio/img/portfolio/p9.jpg' %}" alt="">-->
<!--								<div class="overlay"></div>-->
<!--								<a href="{% static 'myFolio/img/portfolio/p9.jpg' %}" class="img-gal">-->
<!--									<div class="icon">-->
<!--										<span class="lnr lnr-cross"></span>-->
<!--									</div>-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="short_info">-->
<!--								<h4><a href="portfolio-details.html">season face</a></h4>-->
<!--								<p>Animated, portfolio</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->

	<!--================ Start Testimonial Area =================-->
	<div class="testimonial_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>PARTNERS:</h2>
						<p>People I have worked with:</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testi_slider owl-carousel">
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'myFolio/img/testimonials/t1.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Heartman T Sibanda</h4>
									<p>4th Year Engineering Student at The University Of Zimbabwe. Master Of Python Arts </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'myFolio/img/testimonials/t2.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Dellan Muchengapadare</h4>
									<p>Third Year Engineering Student at the University Of Zimbabwe. Master Of NodeJS</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'myFolio/img/testimonials/t1.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Heartman T Sibanda</h4>
									<p>4th Year Engineering Student at The University Of Zimbabwe. Master Of Python Arts </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'myFolio/img/testimonials/t2.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Dellan Muchengapadare</h4>
									<p>Third Year Engineering Student at the University Of Zimbabwe. Master Of NodeJS</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'myFolio/img/testimonials/t1.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Heartman T Sibanda</h4>
									<p>4th Year Engineering Student at The University Of Zimbabwe. Master Of Python Arts </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'myFolio/img/testimonials/t2.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Dellan Muchengapadare</h4>
									<p>Third Year Engineering Student at the University Of Zimbabwe. Master Of NodeJS</p>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->

	<!--================ Start Newsletter Area =================-->
	<section class="newsletter_area">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="subscription_box text-center">
						<h2 class="text-uppercase text-white">Want My Tech Newsletter?</h2>
						<p class="text-white">
							Leave Your Email Address Below And I Will Send You Tech Newsletters On Some Of The Hottest And Trending Technologies In The Software World
						</p>
						<div class="subcribe-form" id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
								<input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>
								<button class="primary-btn hover d-inline">Subscribe</button>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Newsletter Area =================-->

	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<a href="#">
								<img src="{% static 'myFolio/img/logo.png' %}" alt="">
							</a>
							<h4>Follow Me</h4>
						</div>
						<div class="footer_social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="#"> <span style="color: #2d8bfa">Aesthetic</span> <span style="color: #1e7e34">Devs&reg;</span> </a>

</p>
			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'myFolio/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'myFolio/js/popper.js' %}"></script>
	<script src="{% static 'myFolio/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'myFolio/js/stellar.js' %}"></script>
	<script src="{% static 'myFolio/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'myFolio/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'myFolio/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'myFolio/vendors/isotope/isotope-min.js' %}"></script>
	<script src="{% static 'myFolio/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'myFolio/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'myFolio/js/mail-script.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'myFolio/js/gmaps.min.js' %}"></script>
	<script src="{% static 'myFolio/js/theme.js' %}"></script>
</body>

</html>
